{% include 'header.html' %}

<!--
https://doong-e.tistory.com/50
-->


    <p>
        <h1>Board of {{uid}} / {{tid}}</h1>
    </p>

    <h2>Demand</h2>

    <div id="chart" class="chart"></div>

    <!-- <h3>At now</h3>    
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Actual demand</th>
            <th>Forecasted demand</th>
            <th>Abs err</th>
        </tr>
        {% for d in fore_list%}
        <tbody>
            <tr>
                <td>{{d.DAT}}</td>
                <td>{{ "{:,.0f}".format(d.ACT | int) }}</td>
                <td>{{ "{:,.0f}".format(d.FORC | int) }}</td>
                <td>{{ "{:,.0f}".format(d.ABSERR | int) }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>

    <h3>In future</h3>
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Forecasted demand</th>
        </tr>
        {% for d in fore_future_list%}
        <tbody>
            <tr>
                <td>{{d.PDATE}}</td>                    
                <td>{{ "{:,.0f}".format(d.DEMAND_FOR | int) }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table> -->
    
    <h2>Production</h2>
    <p>
        <a href="/plans_frm/{{uid}}/{{tid}}">Create production plans</a>
    </p>    
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Status</th>
            <th>Type</th>
            <!-- <th>Sequence</th> -->
            <th>Jobs</th>
            <th>Qty</th>            
            <th>Makespan</th>
            <!-- <th>Cost</th>
            <th>Extra cost</th>
            <th>Total cost</th> -->
            <th>Gantt chart</th>
        </tr>
        {% for d in sche_list%}
        <tbody>
            <tr>
                <td>{{d.PDATE}}</td>   
                <td>{{d.STATUS}}</td>                 
                <td>{{d.TYPE}}</td>                 
                <!-- <td>{{d.SCHEDULE}}</td>                  -->                
                <td>{{ "{:,.0f}".format(d.JOBS | int) }}</td>
                <td>{{ "{:,.0f}".format(d.QTY | int) }}</td>
                <td>{{ "{:,.0f}".format(d.MAKESPAN | int) }}</td>
                <!-- <td>---</td>
                <td>---</td>
                <td>---</td> -->
                {% if d.STATUS == 'PRODUCED' and d.QTY > 0 %}
                <td><a target='_blank' href='/static/gantt_charts/{{uid}}_{{tid}}_{{d.PDATE}}.png'>View</a></td>
                {% else %}
                <td></td>
                {% endif %}                
                
            </tr>
        </tbody>
        {% endfor %}
    </table>    
    
    <h2>Sales</h2>
    <p>
        <a href="/plans_sales_frm/{{uid}}/{{tid}}">Create sales plans</a>
    </p>        
    <table class="table">
        <tr>
            <th>Sales date</th>
            <th>Promotion ratio</th>
        </tr>
        {% for d in sales_list%}
        <tbody>
            <tr>
                <td>{{d.PDATE}}</td>                    
                <td>{{d.DISC_RATIO}}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>

    <h2>Inventory</h2>
    <table class="table">
        <tr>
            <th>Production date</th>
            <th>Production qty</th>
            <th>Sales date</th>
            <th>Sales qty</th>
            <th>Updated</th>
        </tr>
        {% for d in inven_list%}
        <tbody>
            <tr>
                <td>{{d.PROD_DATE}}</td>                    
                <td>{{ "{:,.0f}".format(d.PROD_QTY | int) }}</td>
                <td>{{d.SALES_DATE}}</td>                    
                <td>{{ "{:,.0f}".format(d.SALES_QTY | int) }}</td>
                <td>{{d.LAST_UPDATED}}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    

    <h2>Ledger</h2>
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Revenue</th>
            <th>Expense</th>
            <th>Action</th>
            <th>Description</th>
            <th>Updated</th>
        </tr>
        {% for d in ledger_list%}
        <tbody>
            <tr>
                <td>{{d.DATE}}</td>                    
                <td>{{ "${:,.0f}".format(d.REVENUE | int) }}</td>
                <td>{{ "${:,.0f}".format(d.EXPENSE | int) }}</td>
                <td>{{d.ACT}}</td>
                <td>{{d.DES}}</td>
                <td>{{d.LAST_UPDATED}}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>    


<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
    var graphs = {{graphJSON | safe}};
    Plotly.plot('chart',graphs,{});        
</script>

{% include 'footer.html' %}