<!DOCTYPE html>
<html lang="en" xmlns:float="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/my.css" type="text/css" />
</head>
 
<body>
    <p>
        <div>
            <a href="/">Home</a>            
        </div>
    </p>
    <p>
        <h1>Board of {{uid}} / {{tid}}</h1>
    </p>
 
    <p>
        <a href="/plans_frm/{{uid}}/{{tid}}">Create plans</a>
    </p>

    <h2>Demand forecasting</h2>
    <p>...</p>

    <h2>Production</h2>
    <p>...</p>

    <h2>Inventory</h2>
    <p>...</p>   
    
    <h2>Sales</h2>
    <p>...</p>    

    <h2>Ledger</h2>
    <p>...</p>    

</body>
 
</html>
