<!DOCTYPE html>
<html lang="en" xmlns:float="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/my.css" type="text/css" />
</head>
 
<body>
    <p>
        <div>
            <a href="/">Home</a>            
        </div>
    </p>
    <p>
        <h1>Error</h1>
    </p>
  
    <p>
        {{err_msg}}
    </p>

    <p>
        <input type="button" value="Go Back" onclick="javascript:history.go(-1);" />

    </p>
</body>
 
</html>
