<!DOCTYPE html>
<html lang="en" xmlns:float="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/my.css" type="text/css" />
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 

<script>
    $(function() {
        // $("#sche_seq").attr("disabled","disabled"); 
        $('input[name="sche_type"]').change(function(){
            v = $('input[name="sche_type"]:checked').prop('value')            
            if (v=='seq') {
                $("#sche_seq").attr("disabled",false);                 
                $("#sche_qty").attr("disabled",true);                 
            } else {
                $("#sche_seq").attr("disabled",true); 
                $("#sche_qty").attr("disabled",false);                 
            }
        })
    })
</script>

<body>
    <p>
        <div>
            <a href="/">Home</a>            
        </div>
    </p>
    <p>
        <h1>Planing form for {{uid}} / {{tid}} on D+{{lt}} ({{d1}})</h1>        
    </p>

    <form action="/plans_c/{{uid}}/{{tid}}" method="POST">
        <p>
            * Previous numbers would be overwritten <br>
            * Do not regist between 6pm to 6am due to a backgound processing
        </p>

        <h2>Demand forecasting</h2>
        <p>
            * Put integer numbers only    
        </p>
        <table class="table">
            <tr>
                <th>Forecasted demand</th>
                <!-- <th>D+2 ({{d2}})</th>
                <th>D+3 ({{d3}})</th> -->
            </tr>            
            <tbody>
                <tr>
                    <td><input type="text" name="demand_fore_d_1" value="0"></td>
                    <!-- <td><input type="text" name="demand_fore_d_2"></td>
                    <td><input type="text" name="demand_fore_d_3"></td> -->
                </tr>
            </tbody>            
        </table>

        <h2>Production scheduling</h2>        
        <p>
            * <a href='#'>Processing time tables for each day of week</a>
        </p>        
        <table class="table">
            <tr>
                <th>Schedule</th>
            </tr>           
            <tbody>                
                <tr>
                    <td>
                        <p>
                            * Scheduling by using your custom scheduler <br>
                            * Put a sequence of jobs seperated by comma            
                        </p>

                        <input type="radio" name="sche_type" value="seq" Checked="True">
                        Job sequence: <input type="text" id="sche_seq" name="sche_seq" size="100">                        
                    </td>
                </tr>
                <tr>
                    <td>      
                        <p>
                            * Scheduling by using SPT scheduler<br>
                            * Put integer numbers only   
                        </p>

                        <input type="radio" name="sche_type" value="qty">
                        Qty : <input type="text" id="sche_qty" name="sche_qty" size="10" disabled="disabled">
                        
                    </td>                    
                </tr>
                
            </tbody>            
        </table>        
        
        <h2>Sales planning</h2>
        <p>
            * Put float numbers only   
        </p>        
        <table class="table">
            <tr>
                <th>Discount rate</th>
            </tr>            
            <tbody>
                <tr>
                    <td><input type="text" name="sales" value="0"></td>                    
                </tr>
            </tbody>            
        </table>        

        <h2>Auth key</h2>
        <input type="password" name="auth_key">

        <p>
            <input type="submit" value="Regist">
        </p>
    </form>
 

</body>
 
</html>
