<!DOCTYPE html>
<html lang="en" xmlns:float="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/my.css" type="text/css" />
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 

<script>
    $(function() {
        {% for i in range(next_week_days | length)%}
        $('input[name="sche_type_d_{{i}}"]').change(function(){
            v = $('input[name="sche_type_d_{{i}}"]:checked').prop('value')            
            if (v=='seq') {
                $("#sche_seq_d_{{i}}").attr("disabled",false);                 
                $("#sche_qty_d_{{i}}").attr("disabled",true);                 
            } else {
                $("#sche_seq_d_{{i}}").attr("disabled",true); 
                $("#sche_qty_d_{{i}}").attr("disabled",false);                 
            }
        })
        {% endfor %}
    })
</script>

<body>
    <p>
        <div>
            <a href="/">Home</a>            
        </div>
    </p>
    <p>
        <h1>Planing form for {{uid}} / {{tid}} from {{next_week_days[0]}} to {{next_week_days[-1]}}</h1>        
    </p>

    <form action="/plans_c/{{uid}}/{{tid}}" method="POST">
        <p>
            * Previous numbers would be overwritten <br>
            * Do not regist between 6pm to 6am due to a backgound processing
        </p>


        <table class="table">
            <tr>
                <th>Planning dates</th>
                <th>Demand</th>
                <th>Production</th>
                <th>Sales discount rate</th>
            </tr>
            <tr>
                <td>-</td>
                <td>* Put integer numbers only otherwize the values set to 0</td>
                <td>
                    <p>
                        * 1 job = 1,000 items <br>
                        * Max job is 500 <br>
                    </p>
                    <p>
                    For using job sequence,<br>
                        * Scheduling by using your custom scheduler <br>
                        * Put a sequence of job IDs seperated by comma                     
                    </p>
                    <p>
                    For using job qty,<br>
                        * Scheduling by using SPT scheduler<br>
                        * Put integer numbers only otherwize the values set to 0                     
                    </p>
                </td>
                <td>* Put float numbers only otherwize the values set to 0</td>
            </tr>

            {% for i in range(next_week_days | length)%}
            <tbody>
                <tr>
                    <td>{{next_week_days[i]}}</td>                    
                    <td><input type="text" name="demand_fore_d_{{i}}" value="0"></td>
                    <td>
                        <input type="radio" name="sche_type_d_{{i}}" value="seq" Checked="True">
                        Job sequence:
                        <br>
                        <textarea name="sche_seq_d_{{i}}" id="sche_seq_d_{{i}}" cols="70" rows="5"></textarea>
                        <br>
                        <input type="radio" name="sche_type_d_{{i}}" value="qty">
                        Job qty : <input type="text" id="sche_qty_d_{{i}}" name="sche_qty_d_{{i}}" size="10" disabled="disabled">                        
                    </td>
                    <td><input type="text" name="sales_d_{{i}}" value="0"></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>

        <h2>Auth key</h2>
        <input type="password" name="auth_key">

        <p>
            <input type="submit" value="Regist">
        </p>
    </form>
 

</body>
 
</html>
